# Configuração do Servidor
PORT=8080
APP_ENV=development

# Configurações do SMTP (E-mail)
SMTP_HOST=smtp.exemplo.com
SMTP_PORT=587
SMTP_USERNAME=seu_usuario
SMTP_PASSWORD=sua_senha
SMTP_SENDER=remetente@exemplo.com

# Configurações do WhatsApp (Meta Cloud API)
WHATSAPP_TOKEN=seu_access_token_da_meta
WHATSAPP_PHONE_NUMBER_ID=seu_phone_number_id
