# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, targeted by the generic launch file
*.out

# Dependency directories
vendor/

# IDE / Editor configurations
.idea/
.vscode/

# Environment configurations
.env
.env.local
